@import "library.css";

/* Prerequisites: Compact mode + Light theme */

@media (prefers-color-scheme: light) {

/** White flash **/
browser[type="content-primary"],
browser[type="content"],
#tabbrowser-tabpanels {
  background-color: rgb(188,188,188) !important; /* optical mid gray */
}

/** Neutral colors without bluish tint **/

/* True black font */
html:root,
window:root,
panel,
menupopup,
popupnotification,
panelview,
label.toolbarbutton-text,
label.tab-text.tab-label,
#main-menubar {
  color: rgb(0,0,0) !important;
}
/* Neutralized variables - Same brightness without bluish tint (except black) */
:host,
:root {
  --arrowpanel-border-color: rgb(240,240,240) !important; /* rgb(240,240,244) */
  --arrowpanel-color: rgba(0,0,0,1) !important; /* rgba(21,20,26,1) */
  --autocomplete-popup-background: rgb(255,255,255) !important;
  --autocomplete-popup-color: rgb(0,0,0) !important;
  --autocomplete-popup-highlight-background: rgb(224,224,224) !important; /* rgb(224,224,230) #e0e0e6 */
  --autocomplete-popup-highlight-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --autocomplete-popup-hover-background: rgb(240,240,240) !important; /* rgb(240,240,244) */
  --autocomplete-popup-separator-color: rgb(240,240,240) !important; /* rgb(240,240,244) */
  --button-active-bgcolor: rgb(208,208,208) !important; /* rgb(207,207,216) */
  --button-bgcolor: rgba(208,208,208,.33) !important; /* rgba(207,207,216,0.33000001311302185) */
  --button-color: rgb(0,0,0) !important;
  --button-hover-bgcolor: rgba(208,208,208,.66) !important; /* rgba(207,207,216,0.6600000262260437) */
  --button-primary-color: rgb(251,251,251) !important; /* rgb(251,251,254) */
  --buttons-primary-button-color: rgb(251,251,251) !important;
  --checkbox-border-color: rgb(144,144,144) !important; /* rgb(143,143,157) */
  --checkbox-checked-color: rgb(251,251,251) !important; /* rgb(251,251,254) */
  --checkbox-unchecked-active-bgcolor: rgb(208,208,208) !important; /* rgb(207,207,216) */
  --checkbox-unchecked-bgcolor: rgb(240,240,240) !important;
  --checkbox-unchecked-hover-bgcolor: rgb(224,224,224) !important; /* rgb(224,224,230) */
  --chrome-content-separator-color: rgb(204,204,204) !important;
  --default-arrowpanel-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --grey-20: rgb(237,237,237) !important; /* #ededf0 */
  --grey-30: rgb(215,215,215) !important; /* #d7d7db */
  --grey-40: rgb(177,177,177) !important; /* #b1b1b3 */
  --grey-60: rgb(74,74,74) !important; /* #4a4a4f */
  --grey-90-a10: rgba(12,12,12,0.1) !important;
  --grey-90-a20: rgba(12,12,12,0.2) !important;
  --grey-90-a30: rgba(12,12,12,0.3) !important;
  --grey-90-a50: rgba(12,12,12,0.5) !important;
  --grey-90-a60: rgba(12,12,12,0.6) !important;
  --in-content-border-color: rgb(215,215,215) !important; /* #d7d7db */
  --in-content-box-background-odd: rgba(12,12,12,0.05) !important; /* rgba(12,12,13,0.05); ( grey 90 a05 ) */
  --in-content-box-border-color: rgb(144,144,144) !important; /* rgb(143,143,157) */
  --in-content-box-info-background: rgb(240,240,240) !important; /* #f0f0f4 */
  --in-content-button-background: rgba(208,208,208,0.33) !important; /* rgba(207,207,216,.33) */
  --in-content-button-background-hover: rgba(208,208,208,0.66) !important; /* rgba(207,207,216,.66) */
  --in-content-button-background-active: rgb(208,208,208) !important; /* rgb(207,207,216) */
  --in-content-deemphasized-text: rgb(92,92,92) !important; /* rgb(91,91,102) */
  --in-content-dialog-header-background: rgb(240,240,240) !important;
  --in-content-icon-color: rgb(92,92,92) !important; /* rgb(91,91,102) */
  --in-content-page-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --in-content-primary-button-text-color: rgb(251,251,251) !important; /* rgb(251,251,254) */
  --in-content-table-background: rgb(248,248,248) !important; /* #f8f8fa */
  --in-content-table-border-dark-color: rgb(208,208,208) !important;
  --input-border-color: rgb(144,144,144) !important; /* rgb(143,143,157) */
  --input-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --lwt-accent-color: rgb(188,188,188) !important; /* rgb(240,240,244) - Tabs panel background - optical mid gray */
  --lwt-background-tab-separator-color: rgba(0,0,0,.2) !important;
  --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important; /* Match active tabs with toolbar colour */
  --lwt-sidebar-background-color: rgb(255,255,255) !important; /* Themed sidebars */
  --lwt-sidebar-text-color: rgb(0,0,0) !important; /* Themed sidebars */
  --lwt-tab-text: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --lwt-text-color: rgba(0,0,0) !important; /* rgba(21,20,26) */
  --lwt-toolbar-field-background-color: rgb(240,240,240) !important;
  --lwt-toolbar-field-border-color: rgba(0,0,0,0) !important;
  --lwt-toolbar-field-color: rgba(0,0,0,1) !important;
  --lwt-toolbar-field-focus-color: rgba(0,0,0,1) !important;
  --lwt-toolbar-field-focus: rgba(255,255,255,1) !important;
  --panel-description-color: rgba(0,0,0,0.7) !important; /* rgba(21,20,26,0.7) */
  --panel-disabled-color: rgba(0,0,0,0.5) !important; /* rgba(21,20,26,0.5) */
  --panel-separator-color: hsla(210,0%,10%,.14) !important; /* hsla(210,4%,10%,.14) */
  --panel-shortcut-color: rgb(92,92,92) !important; /* rgb(91,91,102) */
  --tab-icon-overlay-fill: rgb(92,92,92) !important; /* rgb(91,91,102) */
  --tab-line-color: rgba(129,129,129,0.9) !important; /*  rgba(128,128,142,0.9) */
  --tabpanel-background-color: rgb(249,249,249) !important; /* rgb(249,249,251) */
  --toolbar-bgcolor: rgba(249,249,249,1) !important;
  --toolbar-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --toolbar-field-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --toolbar-field-background-color: rgb(255,255,255) !important; /* rgb(240,240,244) */
  --toolbar-field-focus-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --toolbar-field-non-lwt-bgcolor: rgb(240,240,240) !important; /* rgb(240,240,244) */
  --toolbar-field-non-lwt-color: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --toolbarbutton-icon-fill: rgb(92,92,92) !important; /* rgb(91,91,102) */
  --toolbar-non-lwt-bgcolor: rgb(249,249,249) !important; /* #f9f9fb */
  --toolbar-non-lwt-textcolor: rgb(0,0,0) !important; /* rgb(21,20,26) */
  --toolbarbutton-icon-fill: rgb(92,92,92) !important; /* rgb(91,91,102) */
  --urlbar-popup-action-color: rgb(92,92,92) !important; /* rgb(91,91,102) */
}

/* Windows context menu */
@media (-moz-windows-non-native-menus) {
 :root {
  --menuitem-hover-background-color: rgb(224,224,224) !important; /* #e0e0e6 */
  --menu-background-color: rgb(249,249,249) !important; /* #f9f9fb */
  --menu-color: rgb(0,0,0) !important; /* #15141a */
  --menuitem-disabled-hover-background-color: rgba(224,224,224,0.4) !important; /* rgba(224,224,230,0.4) */
  --menu-disabled-color: rgba(0,0,0,0.4) !important; /* rgba(21,20,26,0.4) */
  --menu-border-color: rgb(208,208,208) !important; /* #cfcfd8 */
 }
}

/** URL bar **/
#urlbar-input-container {
  background-color: rgb(255,255,255) !important;
  border: 1px solid rgba(0,0,0,.25) !important;
}
/* urlbar shadow */
#urlbar-background,#searchbar {
  box-shadow: none !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}

/* identity-box button indicator */
#urlbar {
  --urlbar-box-bgcolor: var(--button-bgcolor) !important; /* var(--toolbar-field-focus-background-color) */
}

} /* ----- END OF COLOR VARIABLES ----- */

/* Root - Reduce Padding */
:root[uidensity=compact] {
  /* Tool Bar */
  --toolbarbutton-outer-padding: 2px !important; /* 3px */
}
.toolbarbutton-1 {
  margin-bottom: 0px !important;
}

/** FF96+ Ubuntu tab height fix - remove 'PLAYING' second line placeholder **/
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: initial !important;
}
/* …but not too tight */
#tabbrowser-tabs {
  min-height: 32px !important;
}

/** Reattach tabs **/
.tab-background {
  margin: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  --tab-border-radius: 6px; /* 4px */
}
toolbarbutton#scrollbutton-up[part="scrollbutton-up"],
toolbarbutton#scrollbutton-down[part="scrollbutton-down"] {
  /* Prevent needing to alter tab height
  * This is for the tab scrolling buttons
  * The change to the tab-brackground margin
  * causes the border size a issue here */
  border: none !important;
}

/** Tabs panel background - fix for Ubuntu **/
#TabsToolbar,#browser-panel { /* #browser-panel - deprecated? */
 background-color: var(--lwt-accent-color) !important;
}

/* Remove active tab stroke */
tabs#tabbrowser-tabs {
  --lwt-tab-line-color: none !important;
}

/* Selected tab shadow */
#TabsToolbar:not([brighttext]) .tabbrowser-tab:is([visuallyselected="true"],[multiselected]) > .tab-stack > .tab-background {
  box-shadow: 0 0 4px rgba(0,0,0,.5) !important;
}

/* Inactive tabs: Separator line style */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
  border-right: 1px solid var(--lwt-background-tab-separator-color) !important;
}
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
  border-radius: 0 !important;
}

/* Remove padding between tabs */
.tabbrowser-tab {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/** Container indicator **/
/* Remove color line for Container Tab */
#tabbrowser-tabs .tab-context-line {
  display: none !important;
}
/* Draw new color line for Container Tab */
.tab-content::after {
  display: inline-block;
  width: -moz-available;
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
  background: var(--identity-icon-color);
  content: '';
  margin: 0 var(--inline-tab-padding);
}

/* Remove Multi-Containers icon from urlbar */
#pageAction-urlbar-_testpilot-containers {
  display: none !important
}

/* Pinned Tab - tabbrowser-arrowscrollbox overflowing */
  #tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
  z-index: 0 !important;
}

/* Bigger close tab button in compact mode */
:root[uidensity="compact"] .tab-close-button {
  padding: 4px !important;
  margin: 0 !important;
  height: 20px !important;
  width: 20px !important;
}

/* Show close button on hover on every tab even when tabs are low on width */
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([pinned]):hover .close-icon {
  display: -moz-box !important;
}

/* Distinguish between loaded and unloaded tabs */
#tabbrowser-tabs .tabbrowser-tab[pending]:not([selected="true"]):not(:hover) {
  opacity: 0.5 !important;
}

/* Tighten up context menu density to make it equal to the hamburger menu (windows) */
:root:not([uidensity=touch]) menupopup > menuitem,menupopup > menu {
  padding-block: 0.25em !important; /* 0.5em */
}

/*** Remove Context Menu Items ***/
#context-sendimage,/* Email Image... */
#context-sendvideo,/* Email Video... */
#context-sendaudio,/* Email Audio... */
/* Tab Context */
#tabContextMenu #context_shareTabURL /* Share */
{ display: none !important; }

/*** Remove items from image context menu ***/
/* Email Image... */
#context-sendimage,
/* Set Image as Desktop Background... (and preceding separator) */
#context-sep-setbackground,#context-setDesktopBackground,
/* Inspect Accessibility Properties */
#context-inspect-a11y
{  display: none !important; }
